*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terraform.exe
deploy_test.sh
packer.exe
variables.json
packer/packer.exe
./packer.exe
*.retry
jdauphant.nginx
/src/*.env
/docker/*.env
.env
